$primary-color: #BD3339;
$secondary-color: antiquewhite;
$banner-text: aliceblue;
$shadow-black: rgba(0, 0, 0, 0.5);
$border-gray: #333;

// Estilo base para iconos reutilizables
%icon-style {
    width: 20px;
    cursor: pointer;
    display: inline-block;
}

// Mixin para tamaños de ancho completo
@mixin full-width {
    width: 100%;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}
body {
    @include full-width;
    font-family: "Roboto", serif;
    font-size: 15px;
    margin: 0;
}
h1, h2, h3{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
img{
    width: 100px;
}

main{
    padding-top: 70px;
}
header{
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img{
        width: 30px;
    }

    i{
        @extend %icon-style;
        
        img{
            width: 100%
        }
    }
}

button {
    /* Reset básico */
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
  
    /* Quitar efectos específicos de navegadores */
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    /* Opcional: reset de otros estilos */
    box-shadow: none;
    text-decoration: none;
  }


.banner{
    @include full-width;
    padding: 40px 0;
    text-align: center;
    background-image: url('../imgs/banner_bookstore.jpeg');
    background-image: linear-gradient($shadow-black, $shadow-black), url('../imgs/banner_bookstore.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    color: $banner-text;

    h2{
        width: 100%;
        font-size: 30px;
    }
    p{
        width: 100%;
        font-size: 25px;
        margin: 0 auto;
    }
}

.products{
    @include full-width;
    margin: 0 auto;
    gap: 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    article{
        text-align: center;
    }

    .book{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        text-align: center;
        justify-content: space-between;
        
        // background-color: red;
        
        
        .book__text{
            display: flex;
            flex-direction: column;
            
        }
        .book__text > * {
            margin: 0; /* Elimina márgenes por defecto */
        }

        button{
            width: 80%;
            height: 30px;

            color: white;
            border-color: none;
            background-color: #333;
        }

        button:hover{
            background-color: $primary-color;
        }
    
    }

    img{
        width: 50%;
        margin-bottom: 15px;
        // cursor: pointer;

    }

    h3{
        font-size: 17px;
        margin-bottom: 5px;
        // cursor: pointer;

    }

    p{
        font-weight: 300;
        font-size: 15px;
    }
}
header{
    i{
        position: relative;
        // background-color: purple;
    }
}
.shopping-cart__badge{
    background-color: red;
    display: flex;
    color: white;
    position: absolute;
    right: -18px;
    top: -10px;
    font-size: 12px;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    padding: 2px;
    text-align: center;
    align-items: center;
    border-radius: 100px;
}
.cart {
    position: relative;
    width: 500px;
    background-color: $banner-text;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 100px;
    right: -100%; 
    box-shadow: -19px -1px 22px -15px $shadow-black;
    
    h2{
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 25px 0;
        box-sizing: border-box;
    }
    
    div {
        // border-bottom: 1px solid $border-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    
    
    img{
        width: 60px;
    }
    
    i{
        @extend %icon-style;
        top: 100px;
        right: 0%;
        cursor: pointer;
    }
    
    .delete-icon{
        width: 100%
    }
    
    div :nth-child(3){
        font-weight: 500;
    }
    &.active {
        right: 0; 
      }


    .cart__product{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        // background-color: red;
        
        .cart__product--text-contariner{
            gap: 10px;
        }
    }

}
// Agregar línea para calcular total
.cart > *:last-child {
    border-bottom: 1px solid $border-gray;

  }

.cart__close-window-button{
    position: absolute;
    width: 10px;
    right: 25px;
    cursor: pointer;

}


@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint == mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
}

// Uso del mixin en los media queries
@include responsive(tablet) {
    header {
        padding: 15px;
        > img {
            width: 60px;
        }
        i {
            width: 30px;
        }
    }
    
    .products {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        img {
            width: 150px;
        }
    }

    .cart {
        width: 400px;
        top: 80px;
    }
}

@include responsive(mobile) {
    .banner {
        padding: 30px 0;
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }
    }

    .products {
        grid-template-columns: 1fr;
        padding: 10px;
        img {
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }
    }

    .cart {
        width: 100%;
        box-shadow: none;
        h2 {
            padding: 15px 0;
        }
        img {
            width: 100px;
        }
    }
}


.burger-menu {
    position: relative;
    width: 500px;
    background-color: $banner-text;
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 77px;
    right: -100%; 
    box-shadow: -19px -1px 22px -15px $shadow-black;
    overflow-y: scroll;
    h2{
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 25px 0;
        box-sizing: border-box;
        border-bottom: 1px solid $border-gray;

    }
    
    div {
        // border-bottom: 1px solid $border-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    
    
    img{
        width: 60px;
    }
    
    i{
        @extend %icon-style;
        top: 100px;
        right: 0%;
        cursor: pointer;
    }
    &.active {
        left: 0; 
      }
    &__close-window-button{
        position: absolute;
        width: 10px;
        right: 25px;
        cursor: pointer;
    
    }
    &__categories{
        display: flex;
        flex-direction: column;

        h3:hover{
            cursor: pointer;
            color: $primary-color;
        }
    }
}

